# CORS_ORIGIN="http://localhost:5173,http://127.0.0.1:5500"

# PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/postgres"

# Supabase
## supabase configuration
SUPABASE_URL="https://YOUR_PROJECT_REF.supabase.co"
SUPABASE_ANON_KEY="your-anon-key"
## storage bucket for files
SUPABASE_STORAGE_BUCKET="files"

